body {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #626262;
}

.header {
    text-transform: uppercase;
    font-weight: 600;
}

.header__nav {
    height: 164px;
}

.header__brand {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: #000000;
}

.header__menu-link:nth-child(1) {
    padding-right: 121px !important;
}

.header__menu-link:nth-child(2) {
    padding-right: 103px !important;
}

.header__menu-link:nth-child(3) {
    padding-right: 95px !important;
}

.header__menu {
    flex-grow: 0;
}

.section {
    padding: 0px 81px !important;
}

.description__h3 {
    font-size: 14px;
    color: #b4ad9e;
    margin: 99px 0px 29px;
}

.description__h2 {
    font-size: 30px;
    margin-bottom: 35px;
}

.description__end {
    margin: 52px 0 136px;
    color: #b4ad9e;
}

.post__item {
    width: 420px;
}

.post__lifestyle {
    margin: 30px 0px;
}

.post__title {
    font-size: 30px;
}

.post__content {
    margin: 34px 0px 132px;
}

.contact {
    background-color: #f0f0f0;
    margin: 122px 0px 103px;
    height: 287px;
    padding: 73px 0px 84px;
}

.contact__title {
    font-size: 30px;
    color: #333333;
    margin-bottom: 81px;
}

.contact__info {
    position: relative;
}

.contact__info::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background-color: black;
    height: 1px;
    width: 399px;
}

.contact__input {
    border: none;
    outline: none;
    background-color:#f0f0f0;
    width: 367px;
    padding: 0 0 0 3px;
}

.contact__img {
    cursor: pointer;
}

.button {
    font-size: 20px;
    margin: 34px 0px 1370px;
}

.button__load {
    padding: 20px 33px 13px;
    outline: none;
    border: solid 1px #626262;
    color: #626262;
}

.footer {
    height: 99px;
    background-color: #f0f0f0;
    padding: 0 150px 0 71px;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer a {
    text-decoration: none;
}

.footer__term-link a {
    color: black;
}

.footer__term-link:nth-child(1) {
    margin-right: 17px;
}

.footer__follow-text {
    color: black;
    margin-right: 22px;
}

.footer__follow-link {
    color: #7a7a7a;
}

.footer__follow-link:nth-child(2) {
    margin-right: 17px;
}

.footer__follow-link:nth-child(3) {
    margin-right: 18px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1062px;
    }
}


