body {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #626262;
}

.header {
    text-transform: uppercase;
    font-weight: 600;
}

/* Navigation */
.header__brand {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: #000000;
}

.header__menu {
    flex-grow: 0;
}

/* Description */
.description__h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    margin: 99px 0px 29px;
}

.description__h2 {
    font-size: 30px;
    margin-bottom: 35px;
}

.description__h2 a {
    color: #626262;
    text-decoration: none;
}

.description__h2:hover a{
    color: #383838;
}

.description__end {
    font-family: 'Ubuntu', sans-serif;
    margin: 52px 0 136px;
    color: #b4ad9e;
}

.description__end a {
    margin: 52px 0 136px;
    color: #b4ad9e;
}

.description__end:hover a {
    text-decoration: none;
    color: #626262;;
}

/* Post */
.post__item {
    width: 420px;
}

.post__lifestyle {
    font-family: 'Ubuntu', sans-serif;
    margin: 30px 0px;
    color: #b4ad9e;
    text-transform: uppercase;
}

.post__title a {
    font-size: 30px;
    text-decoration: none;
    color: #626262;
}

.post__title:hover a {
    color: #383838;
}

.post__content {
    margin: 34px 0px 132px;
}

/* Contact */
.contact {
    background-color: #f0f0f0;
    margin: 122px 0px 103px;
    height: 287px;
    padding: 73px 0px 84px;
}

.contact__title {
    font-size: 30px;
    color: #333333;
    margin-bottom: 81px;
}

.contact__info {
    position: relative;
    width: 399px;
    display: flex;
}

.contact__info::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background-color: black;
    height: 1px;
    width: 100%;
}

.contact__input {
    border: none;
    outline: none;
    background-color:#f0f0f0;
    padding: 0 0 0 3px;
    width: 100%;
}

.contact__img {
    cursor: pointer;
}

/* Button Load */
.button {
    font-size: 20px;
    margin: 34px 0px 140px;
}

button:hover {
    background-color: #dadada;
}

.button__load {
    padding: 18px 33px;
    outline: none;
    border: solid 1px #626262;
    border-radius: 1px;
    background-color: #fff;
}

.button__load a {
    text-decoration: none;
    color: #626262;
}

.button__load:hover a {
    color: #2b2b2b;
}

.footer {
    min-width: 100%;
    background-color: #f0f0f0;
}

.footer__main {
    height: 99px;
    max-width: 100%;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer a {
    text-decoration: none;
}

.footer__term-link a {
    color: black;
}

.footer__term-link:nth-child(1) {
    margin-right: 17px;
}

.footer__follow-text {
    color: black;
    margin-right: 22px;
}

.footer__follow-link {
    color: #7a7a7a;
}

.footer__follow-link:nth-child(2) {
    margin-right: 17px;
}

.footer__follow-link:nth-child(3) {
    margin-right: 18px;
}

/*post-full-width */
.description__end-text {
    margin-bottom: 7px;
}

.post__img {
    margin-top: 57px;
}

.post__detail-quote {
    margin: 56px 0 33px;
    padding: 0 21px;
    font-style: italic;
}

.post__detail p {
    margin: 0;
}

.post__share {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 64px 0 76px;
}

.post__share span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    color: #b4ad9e;
    cursor: default;
    padding-right: 10px;
}

.post__share-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.post__share-link {
    margin: 0 14px;
}

.slide {
    min-height: 435px;
    max-width: 100%;
    background-color: #f5f5f5;
    padding-top: 68px;
}

.slide__title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color:#b4ad9e;
    margin-bottom: 41px;
}

.slide__title-img {
    font-size: 20px;
    margin: 24px 0 16px;
    text-align: center;
}

.slide__title-img a{
    text-decoration: none;
    color: #626262;
}

.slide__title-img:hover a {
    color: #353535;
}

.comment__total {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    margin: 65px 0 42px;
}

.comment__row {
    display: flex;
}

.comment__row:nth-child(2) {
    margin-bottom: 56px;
}

.comment__row:nth-child(3) {
    margin-bottom: 52px;
}

.comment__avatar {
    flex-basis: 18%;
    margin-right: 10px;
}

.comment__main {
    flex-basis: 82%;
}

.comment__author {
    font-weight: bold;
}

.comment__author a {
    text-decoration: none;
    color: #626262;
}

.comment__content {
    margin: 14px 0 25px;
}

.comment__action {
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    cursor: pointer;
}

.comment__action:hover {
    color: #7a7a7a;
}

.comment__input {
    font-family: 'Ubuntu', sans-serif;
    outline: none;
    width: 100%;
    color: #c8c8c8;
    height: 70px;
    border: solid 1px #c8c8c8;
    border-radius: 5px;
    padding-left: 33px;
}

.comment__connect {
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    margin: 34px 0 92px;
}

.comment__menu-link:nth-child(1) {
    margin: 0 16px 0 39px;
}

/* post-sidebar */
.main {
    display: grid;
    grid-template-columns: 1fr;
}

.sidebar__info {
    margin-top: 99px;
}

.sidebar__title {
    margin: 29px 0 21px;
}

.sidebar__title a {
    color: #626262;
    text-decoration: none;
    font-size: 24px;
}

.sidebar__title:hover a {
    color: #383838;
}

.sidebar__content {
    font-size: 12px;
    margin: 0;
}

.sidebar__list {
    list-style: none;
    padding: 0;
    margin: 23px 0 73px;
}

.sidebar__list-items {
    padding: 0;
    margin-right: 16px;
}

.sidebar__posts-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    margin: 0;
}

.sidebar__posts-list {
    padding-left: 28px;
    margin: 34px 0 56px;
}

.sidebar__posts-item a {
    text-decoration: none;
    font-size: 16px;
    color: #626262;
}

.sidebar__posts-item:hover a {
    color: #383838;
}

.sidebar__posts-comment {
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    font-size: 12px;
    margin: 15px 0 29px;
}

/* width < 576px */
@media (max-width: 575px) {
    /* Navigation */
    .header__menu-link {
        text-align: right;
    }

    /* Post */
    .post__content-gap {
        margin-bottom: 122px !important;
    }

    .footer__main {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .contact__info {
        width: 80%;
    }

    /*post-full-width */
    .sidebar {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }

    .sidebar__info {
        margin-top: 0;
    }

    .sidebar__list {
        margin: 23px 0 35px;
    }

    .sidebar__posts-title {
        text-align: center;
        margin-top: 45px;
        font-size: 20px;
    }

    .sidebar__posts-comment {
        margin: 10px 0 14px;
    }

    .sidebar__posts-list {
        margin-bottom: 0;
    }
    
    .sidebar__img {
        grid-column: 1/span 2;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}

/*sm: width >= 576px */
@media (min-width: 576px) {
    .header__menu-link {
        text-align: right;
        padding-right: 8px !important;
    }

    /* Post */
    .post__content-gap {
        margin-bottom: 122px !important;
    }
}

/* width: >= 576px and  < 768px*/
@media (min-width: 576px) and (max-width: 767px) {
    .sidebar {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        column-gap: 20px;
    }

    .sidebar__info {
        margin-top: 0;
    }

    .sidebar__list {
        margin: 23px 0 35px;
    }

    .sidebar__posts-title {
        text-align: center;
        margin-top: 58px;
        font-size: 20px;
    }

    .sidebar__posts-list {
        margin-bottom: 0;
    }
    
    .sidebar__img {
        grid-column: 1/span 2;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}

/*md: width >= 768px */
@media (min-width: 768px) {
    /* Navigation */
    .header__nav {
        height: 164px;
    }

    .header__menu-link:nth-child(4) {
        padding-right: 0 !important;
    }

    /*post-full-width */
    .comment__avatar {
        flex-basis: 9%;
        margin-right: 27px;
    }

    .comment__main {
        flex-basis: 91%;
    }

    /* post-sidebar */
    .main {
        display: grid;
        grid-template-columns: 1fr 210px;
        column-gap: 35px;
    }
}

/*lg: width >= 992px */
@media (min-width: 992px) {
    /* Navigation */
    .header__menu-link:nth-child(1) {
        padding-right: 121px !important;
    }
    
    .header__menu-link:nth-child(2) {
        padding-right: 103px !important;
    }
    
    .header__menu-link:nth-child(3) {
        padding-right: 95px !important;
    }

    /*post-full-width */
    .slide__title-img {
        text-align: left;
        margin: 24px 0 0;
    }

    /* post-sidebar */
    .main {
        display: grid;
        grid-template-columns: 1fr 272px;
        column-gap: 49px;
    }
}

/*xl: width >= 1200px */
@media (min-width: 1200px) {
    .container {
        max-width: 1062px;
    }

    .indent {
        padding: 0px 81px !important;
    }

    .footer__term {
        margin-left: 80px !important;
    }

    /*post-sidebar */
    .indent-left {
        padding: 0 0 0 81px;
    }
}



