.navbar {
    background-color: rgb(255, 255, 255);
    border-bottom: thin solid rgb(225, 225, 225);
    height: 60px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    box-sizing: border-box;
}

.navbar-inside {
    padding: 16px 0px 16px 0px;
    margin: 0px 87px 0px 87px;
    height: 60px;
    width: 1192px;
    box-sizing: border-box;
    display: flex;
}

.left {
    display: flex;
    align-items: center;
}

#lotus-logo {
    width: 33px;
    height: 30px;
    fill: #cd0f32;
    stroke: transparent;
    margin-right: 6px;
}

#lotus-text {
    width: 68px;
    height: 22px;
    fill: #002d64;
    stroke: transparent;
    position: relative;
    top: -4px
}

.version-info {
    margin-left: 16px;
    background: #efeff4;
    border-radius: 20px;
    padding: 4px 8px;
    position: relative;
    top: -5px;
}

.version-info-text {
    font: normal 15px/19px SF;
    color: #111;
    position: relative;
    top: -1px;
}

h1 {
    display: inline-block;
    margin: 0px
}

.right {
    display: flex;
    margin-top: -3px;
    justify-content: flex-end;
    width: 751px;
}

.login {
    width: 149px;
    height: 28px;
    border: 2px solid #1f9ffc;
    border-radius: 100px 100px 100px 100px;
    box-sizing: border-box;
    padding: 0px 16px 0px 16px;
}

.icon {
    width: 16px;
    height: 16px;
    fill: none;
    stroke: #1f9ffc;
    margin-right: 5px;
}

.register {
    font-size: 13px;
    font-weight: 600;
    height: 28px;
    width: 87px;
    color: #fff;
    background: #1f9ffc;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
}

.resgister-outside {
    margin-left: 10px;
}

body {
    background-color: rgb(249, 249, 249);
}

.sidebar-menu {
    position: relative;
    top: 116px;
    left: 78px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .05);
    border-radius: 10px;
}

#text {
    display: inline;
}

.icon.menu-home {
    width: 20px;
    height: 20px;
    fill: #333;
    stroke: transparent;
}

.icon.menu-trending-news {
    width: 16px;
    height: 16px;
    fill: #aaa;
    stroke: transparent;
}

.icon.menu-trending-group {
    width: 16px;
    height: 16px;
    fill: #aaa;
    stroke: transparent;
}

.icon.menu-giai-tri {
    width: 20px;
    height: 20px;
    fill: #aaa;
    stroke: transparent;
}

.icon.icon-external-link {
    width: 10px;
    height: 10px;
    fill: #aaa;
    stroke: transparent;
}

.icon.icon-infor {
    width: 18px;
    height: 18px;
    fill: #aaa;
    stroke: transparent;
}

.icon.icon-apple {
    width: 16px;
    height: 18px;
    fill: #888;
    stroke: transparent;
}