.outer-flex {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 300px;
    border: solid 1px darkgoldenrod;
}

.flex-item {
    width: 100px;
    height: 100px;
    background: red;
    border: solid 1px black;
    text-align: center;
}