.moDau{
    text-align: center;
    text-transform: uppercase;
}
#moDau{
    text-align: center;
}
.body{
    text-indent: 18px;
}
.truong, .congTy, .ngonNgu{
    background-color: yellowgreen;
    text-transform: uppercase;
}
.ket{
    width: 2300px;
    text-align: center;
}