.banner {
    position: relative;
    max-width: 1440px;
    margin: auto;
}

.banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.28);;
}

.banner__content {
    position: absolute;
    top: 43%;
    left: 1%;
    color: white;
}

.banner__content-h1 {
    font-size: 1.8rem;
    line-height: 2rem;
    font-family: verdana;
    font-weight: bold;
}

.banner__content-h1:nth-child(2) {
    margin: 6px 0 14px 23px;
}

.banner__content-h2 {
    font-size: 1.2rem;
    font-family: verdana;
    font-weight: bold;
}

.poster {
    display: grid;
    grid-template-columns: 1fr auto;
}

.poster__title {
    display: flex;
    flex-direction: column;
}

.poster__title-hashtag {
    flex-basis: 50%;
    background-color: #F8F6F7;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    line-height: 2.7rem;
}

.poster__title-hashtag-content {
    margin: 0;
}

.poster__title-hashtag-content:nth-child(1) {
    margin: 91px 0 4px;
}

.poster__title-hashtag-link {
    text-decoration: none;
    color: #383838;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: 41px;
    display: inline-block;
}

.poster__title-collection {
    display: flex;
    flex-basis: 50%;
    background-color: #1A1A1A;
    color: white;
    line-height: 3.5rem;
    font-size: 2.6rem;
    align-items: center;
}

.poster__title-collection a {
    display: flex;
    align-items: center;
    margin: 0 0 0 123px;
    text-decoration: none;
    color: white;
}

.poster__title-collection span {
    font-weight: bold;
    margin: 0 80px 0 8px;
}

.description {
    background-color: #F8F6F9;
}

.description-main {
    max-width: 426px;
    margin: 169px 0 0 80px;
}   

.description__main-title {
    color: #424242;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.9rem;
}

.description__main-h1 {
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 3.5rem;
    margin: 18px 0 22px;
}

.description__main-content {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 80px;
}

.description__main-btn {
    border: none;
    outline: none;
    background-color: black;
    padding: 19px 74px;
}

.description__main-btn--link {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 500;
    color: white;
}

/* Watch Demo */
.watch {
    max-width: 270px;
    text-align: center;
    margin: 53px 0;
}

.watch__style {
    font-size: 1.4rem;
    color: var(--gray-color);
    line-height: 1.9rem;
}

.watch__name {
    margin: 3px 0 14px;
}

.watch__name,
.watch__price {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.watch__style,
.watch__name, 
.watch__price {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* End Watch Demo */

/* Post */
.post {
    display: flex;
    justify-content: center;
    background-color: #242527;
    padding: 38px 0 59px;
    color: white;
}

.post__main {
    max-width: 300px;
    padding: 0;
    text-align: center;
}

.post__main:nth-child(2) {
    margin: 0 60px;
}

.post__main-title {
    margin: 33px 0 20px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.7rem;
}

.post__main-content {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 32px;
}

.post__main-link {
    color: white;
    font-size: 1.6rem;
    line-height: 2.2rem;
    position: relative;
}

.post__main-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background-color: white;
    transition: all 0.2s ease-out;
}

.post__main-link:hover::after {
    width: 100%;
}

.post__main-link:hover {
    color: white;
}
/* End Post */

@media (min-width: 576px) {
    .banner__content {
        top: 48%;
        left: 8%;
    }

    .banner__content-h1 {
        font-size: 2.5rem;
        line-height: 2.9rem;
    }

    .banner__content-h1:nth-child(2) {
        margin: 6px 0 9px 34px;
    }

    .banner__content-h2 {
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin: 0 0 0 61px;
    }
}

@media (min-width: 768px) { 
    .banner__content-h1 {
        font-size: 3.2rem;
        line-height: 3.8rem;
    }

    .banner__content-h1:nth-child(2) {
        margin: 6px 0 19px 46px;
    }

    .banner__content-h2 {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin: 0 0 0 96px;
    }
}

@media (min-width: 992px) { 
    .banner__content-h1 {
        font-size: 4.2rem;
        line-height: 5.1rem;
    }

    .banner__content-h1:nth-child(2) {
        margin: 11px 0 33px 46px;
    }

    .banner__content-h2 {
        font-size: 2rem;
        line-height: 2.4rem;
        margin: 0 0 0 104px;
    }
}

@media (min-width: 1200px) { 
    .banner__content {
        top: 327px;
        left: 57px;
    }
}

@media (min-width: 1400px) { 
    .banner__content {
        top: 401px;
        left: 138px;
    }
}