/* Banner */
.banner {
    position: relative;
    max-width: 1440px;
    margin: auto;
}

.banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.28);;
}

.banner__content {
    position: absolute;
    top: 43%;
    left: 1%;
    color: white;
}

.banner__content-h1 {
    font-size: 1.8rem;
    line-height: 2rem;
    font-family: verdana;
    font-weight: bold;
}

.banner__content-h1:nth-child(2) {
    margin: 6px 0 14px 23px;
}

.banner__content-h2 {
    font-size: 1.2rem;
    font-family: verdana;
    font-weight: bold;
}

/* Poster */
.poster__hashtag {
    background-color: #F8F6F7;
    text-align: center;
    padding: 10px 0 4px;
}

.poster__hashtag-title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
}

.poster__hashtag-title-link {
    color: #383838;
    font-size: 1.4rem;
    line-height: 2rem;
    display: inline-block;
    margin-top: 14px;
}

.poster__hashtag-title-link:hover {
    color: #0c0c0c;
}

.poster__collection {
    background-color: #1A1A1A;
}

.poster__collection-link {
    color: white;
    line-height: 2rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.poster__collection-link:hover {
    color: white;
}

.poster__collection-link span {
    font-weight: 700;
    margin: 0 35px 0 8px;
}

/* Description */
.description {
    background-color: #F8F6F9;
}

.description__main {
    max-width: 316px;
    margin: 24px auto 0;
}   

.description__main-title {
    color: #424242;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.9rem;
}

.description__main-h1 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    margin: 15px 0 11px;
}

.description__main-content {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 40px;
}

.description__main-btn {
    outline: none;
    background-color: white;
    border: 1px solid black;
    width: 180px;
    height: 48px;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 15px;
}

.description__main-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    right: 0;
    border-top: 46px solid black;
    border-left: 50px solid transparent;
    transform: translateX(0%);
    transition: all 0.5s ease;
}

.description__main-btn a {
    font-size: 1.4rem;
    line-height: 2rem;
    color:white;
    position: absolute;
    transition: color 0.2s linear;
}

.description__main-btn:hover::before {
    transform: translateX(100%);
}

.description__main-btn:hover a {
    color: black;
}

/* Watch Demo */
.watch {
    max-width: 270px;
    text-align: center;
    margin: 15px 0 15px;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.4s ;
}

.watch:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.watch:hover img{
    transform: scale(1.03);
    transition: all 0.4s linear;
}

.watch__info:hover {
    color: black
}

.watch__img {
    display: inline-block;
    overflow: hidden;
}

.watch__info-style {
    font-size: 1.4rem;
    color: var(--gray-color);
    line-height: 1.9rem;
}

.watch__info-name {
    margin: 3px 0 14px;
}

.watch__info-price {
    margin-bottom: 16px;
}

.watch__info-name,
.watch__info-price {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.watch__info-style,
.watch__info-name, 
.watch__info-price {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Post */
.post {
    background-color: #242527;
    padding: 30px 0 36px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 65px;
    grid-template-areas:
    "design"
    "soft"
    "water";
}

.post__main {
    max-width: 300px;
    padding: 0;
    text-align: center;
}

.post__main:nth-child(1) {
    justify-self: center;
    grid-area: water;
}

.post__main:nth-child(2) {
    justify-self: center;
    grid-area: design;
}

.post__main:nth-child(3) {
    justify-self: center;
    grid-area: soft;
}

.post__main-title {
    margin: 21px 0 18px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.7rem;
}

.post__main-content {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 23px;
}

.post__main-link {
    color: white;
    font-size: 1.6rem;
    line-height: 2.2rem;
    position: relative;
}

.post__main-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background-color: white;
    transition: all 0.2s ease-out;
}

.post__main-link:hover::after {
    width: 100%;
}

.post__main-link:hover {
    color: white;
}
/* End Post */

@media (min-width: 576px) {
    .banner__content {
        top: 48%;
        left: 8%;
    }

    .banner__content-h1 {
        font-size: 2.5rem;
        line-height: 2.9rem;
    }

    .banner__content-h1:nth-child(2) {
        margin: 6px 0 9px 34px;
    }

    .banner__content-h2 {
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin: 0 0 0 61px;
    }

    /* Poster */
    .poster__hashtag {
        flex-basis: 50%;
        padding: 0;
    }

    .poster__hashtag-title:nth-child(1) {
        margin-top: 19px;
    }

    .poster__collection {
        flex-basis: 50%;
        padding: 0;
    }

    .poster__hashtag-title-link {
        margin: 15px 0 8px;
    }

    .poster__collection-link {
        margin: 0;
    }

    /* Description */
    .description__main {
        max-width: 395px;
        margin: 50px 0 0 35px;
    }
    
    .description__main-h1 {
        font-size: 2.6rem;
        line-height: 3.5rem;
        margin: 40px 0 24px;
    }

    .description__main-content {
        margin-bottom: 63px;
    }

    .description__main-btn {
        width: 226px;
        height: 56px;
        margin-bottom: 25px;
    }

    .description__main-btn::before {
        border-top: 54px solid black;
    }

    .description__main-btn a {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
}

@media (min-width: 768px) { 
    .banner__content-h1 {
        font-size: 3.2rem;
        line-height: 3.8rem;
    }

    .banner__content-h1:nth-child(2) {
        margin: 6px 0 19px 46px;
    }

    .banner__content-h2 {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin: 0 0 0 96px;
    }

    /* Poster */
    .poster__hashtag-title:nth-child(1) {
        margin: 15px 0 0;
    }

    .poster__hashtag-title {
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    .poster__hashtag-title-link {
        margin: 12px 0 0;
        font-size: 1.6rem;
    }

    .poster__collection-link {
        margin-left: 98px;
        line-height: 2rem;
        font-size: 2.2rem;
    }

    .poster__collection-link span {
        margin: 0 69px 0 8px;
    }

    /* Description */
    .description__main {
        max-width: 314px;
        margin: 17px 0 0 38px;
    }
    
    .description__main-h1 {
        font-size: 2.3rem;
        line-height: 3.1rem;
        margin: 45px 0 18px;
    }

    .description__main-btn {
        width: 176px;
        height: 48px;
        margin-bottom: 0;
    }

    .description__main-btn::before {
        border-top: 46px solid black;
    }

    /* Watch Demo */
    .watch {
        margin: 53px 0;
    }

    /* Post */
    .post {
        padding: 38px 0 59px;
        grid-template-columns: 1fr 1fr;
        gap: 60px 0;
        grid-template-areas: 
        "design design"
        "water soft";
    }

    .post__main-title {
        margin: 33px 0 20px;
    }

    .post__main-content {
        margin-bottom: 32px;
    }
}

@media (min-width: 992px) { 
    .banner__content-h1 {
        font-size: 4.2rem;
        line-height: 5.1rem;
    }

    .banner__content-h1:nth-child(2) {
        margin: 11px 0 33px 46px;
    }

    .banner__content-h2 {
        font-size: 2rem;
        line-height: 2.4rem;
        margin: 0 0 0 104px;
    }

    /* Poster */
    .poster__hashtag-title:nth-child(1) {
        margin: 45px 0 4px;
    }

    .poster__hashtag-title {
        font-size: 2rem;
        line-height: 2.7rem;
    }

    .poster__hashtag-title-link {
        margin-top: 22px;
    }

    .poster__collection-link {
        margin-left: 87px;
        line-height: 3.5rem;
        font-size: 2.6rem;
    }

    .poster__collection-link span {
        margin: 0 69px 0 8px;
    }

    /* Description */
    .description__main {
        max-width: 404px;
        margin: 109px 0 0 46px;
    }
    
    .description__main-h1 {
        font-size: 2.6rem;
        line-height: 3.5rem;
        margin: 18px 0 22px;
    }

    .description__main-content {
        margin-bottom: 80px;
    }

    .description__main-btn {
        width: 262px;
        height: 59px;
    }

    .description__main-btn::before {
        border-top: 59px solid black;
    }

    /* Post */
    .post {
        grid-template-columns: 1fr auto 1fr;
        gap: 41px;
        grid-template-areas: 
        "water design soft";
    }
}

@media (min-width: 1200px) { 
    .banner__content {
        top: 327px;
        left: 57px;
    }

    .poster__hashtag-title:nth-child(1) {
        margin: 75px 0 4px;
    }

    .poster__hashtag-title-link {
        margin-top: 40px;
    }

    /* Description */
    .description__main {
        max-width: 426px;
        margin: 169px 0 0 80px;
    }
    
    /* Post */
    .post {
        gap: 60px;
    }

    .post__main:nth-child(1) {
        justify-self: end;
    }
    
    .post__main:nth-child(2) {
        justify-self: center;
    }
    
    .post__main:nth-child(3) {
        justify-self: self-start;
    }
}

@media (min-width: 1400px) { 
    .banner__content {
        top: 401px;
        left: 138px;
    }
}