@font-face {
    font-family: "noto sans";
    src: url("../font/noto-sans/NotoSans-Regular.ttf"),
        url('../font/webfontkit-20210131-093341/notosans-regular-webfont.woff2') format('woff2'),
        url('../font/webfontkit-20210131-093341/notosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: verdana;
    src: url(../font/verdana/verdana.ttf);
}

:root {
    --green-color: #3CB46E;
    --green-hover: #37a866;
    --gray-color: #6A6C6E;
}

* {
    box-sizing: border-box;
    font-family: "noto sans";
}

html {
    font-size: 62.5%;
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

/* Navigation */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    max-width: 1440px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-main {
    display: flex;
    align-items: center;
}

.nav__logo {
    font-size: 2.6rem;
    display: flex;
    color: white;
}

.nav__logo:hover {
    color: white;
}

.nav__menu {
    position: absolute;
    left: calc(50% - 257.5px);
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav__menu-item {
    margin-right: 36px;
}

.nav__menu-item:nth-child(5) {
    margin: 0;
}

.nav__menu-item a {
    color: white;
    font-size: 1.6rem;
    font-family: verdana;
}

.nav__menu-item:hover a {
    color: var(--green-hover);
    transition: all 0.4s ease;
}

.nav__button {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav__button-icon {
    cursor: pointer;
}

.nav__button-icon:nth-child(1) {
    margin-right: 15px;
}

.nav__button-login button {
    background: none;
    padding: 0 8px 0 21px;
    transition: all 0.2s linear;
}

.nav__button-register button {
    width: 81px;
    height: 32px;
    border-radius: 4px;
    background-color: var(--green-color);
    transition: all 0.2s linear;
}

.nav__button-register:hover button {
    color: #d4d4d4;
    background-color: var(--green-hover);
}

.nav__button-login:hover button {
    color: #d4d4d4;
}

.nav__button-login button,
.nav__button-register button {
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: white;
}
/* End Navigation */

@media (min-width: 576px) {

}

@media (min-width: 768px) { 

}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 

}

@media (min-width: 1400px) { 

}

