@font-face {
    font-family: "noto sans";
    src: url("../font/noto-sans/NotoSans-Regular.ttf"),
        url('../font/webfontkit-20210131-093341/notosans-regular-webfont.woff2') format('woff2'),
        url('../font/webfontkit-20210131-093341/notosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: verdana;
    src: url(../font/verdana/verdana.ttf);
}

:root {
    --green-color: #3CB46E;
    --green-hover: #37a866;
    --gray-color: #6A6C6E;
    --gray-icon:#495057;
}

* {
    box-sizing: border-box;
    font-family: "noto sans";
}

html {
    font-size: 62.5%;
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

/* Navigation */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    max-width: 1440px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-main {
    display: flex;
    align-items: center;
}

.nav__moblie-btn {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 8px;
}

.nav__main-logo {
    position: absolute;
    left: calc(50% - 60px);
    font-size: 2.1rem;
    color: white;
}

.nav__main-logo:hover {
    color: white;
}

.nav__main-menu {
    position: absolute;
    left: calc(50% - 257.5px);
    display: none;
}

.nav__main-menu-item {
    margin-right: 36px;
}

.nav__main-menu-item:nth-child(5) {
    margin: 0;
}

.nav__main-menu-item a {
    color: white;
    font-size: 1.6rem;
    font-family: verdana;
}

.nav__main-menu-item:hover a {
    color: var(--green-hover);
    transition: all 0.4s ease;
}

.nav__main-button {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 8px;
}

.nav__main-button-search {
    margin-right: 15px;
    display: none;
    cursor: pointer;
}

.nav__main-button-bag {
    cursor: pointer;
}

.nav__main-button-login,
.nav__main-button-register {
    display: none;
}

.nav__main-button-login button {
    background: none;
    padding: 0 8px 0 21px;
    transition: all 0.2s linear;
}

.nav__main-button-register button {
    width: 81px;
    height: 32px;
    border-radius: 4px;
    background-color: var(--green-color);
    transition: all 0.2s linear;
}

.nav__main-button-register:hover button {
    color: #d4d4d4;
    background-color: var(--green-hover);
}

.nav__main-button-login:hover button {
    color: #d4d4d4;
}

.nav__main-button-login button,
.nav__main-button-register button {
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: white;
}

/* Navigation Mobile */
.nav__overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav__moblie {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 260px;
    padding: 8px 12px;
    background-color: #212121;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.4s ease;
}

.nav__moblie-close {
    font-size: 1.8rem;
    color: var(--gray-icon);
    text-align: end;
}

.nav__moblie-close--link {
    cursor: pointer;
}

.nav__moblie-menu {
    margin-top: 8px;
}

.nav__mobile-menu-item {
    font-size: 1.6rem;
    text-align: center;
    padding: 10px 0;
}

.nav__mobile-menu-item:hover a {
    color: var(--green-hover);
    transition: all 0.4s ease;
}

.nav__mobile-menu-item a {
    color: white;
}
/* End Navigation */

/* Subscribe */
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe__title {
    font-size: 2rem;
    line-height: 2.4rem;
}

.subscribe__sub-title {
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--gray-color);
    margin: 12px 0 40px;
}

.subscribe__main {
    display: flex;
    margin-bottom: 82px;
    background-color: #f0f0f0;
    padding: 3px 4px 3px 0;
    border-radius: 4px;
}

.subscribe__main-input {
    border: none;
    outline: none;
    background-color: #f0f0f0;
    font-size: 1.3rem;
    padding: 0 0 0 8px;
    width: 221px;
}

.subscribe__main-button {
    border: none;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: white;
    background-color: var(--green-color);
    padding: 7px 14px 8px;
    border-radius: 4px;
}

.subscribe__main-button:focus {
    outline: none;
}

/* Footer */
.footer {
    max-width: 1440px;
    margin: auto;
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    color: white;
    position: relative;
    z-index: 1;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
}

.footer-main {
    padding: 121px 0 75px;
}

.footer-main__content {
    max-width: 300px;
}

@media (min-width: 576px) {
    .nav__moblie-btn {
        font-size: 2.4rem;
    }

    .nav {
        height: 70px;
    }

    .nav__main-logo {
        left: calc(50% - 74.5px);
        font-size: 2.6rem;
    }

    .nav__main-button-search {
        display: block;
    }
}

@media (min-width: 768px) { 
    .nav {
        height: 100px;
    }

    .nav__main-button-login,
    .nav__main-button-register {
        display: block;
    }
}

@media (min-width: 992px) {
    .nav__moblie-btn {
        display: none;
    }

    .nav__main-logo {
        left: auto;
        margin-left: 8px;
    }

    .nav__main-menu {
        display: flex;
    }

    
}

@media (min-width: 1200px) { 
    .nav__main-button {
        margin-right: 0;
    }

    .nav__main-logo {
        margin-left: 0px;
    }
}

@media (min-width: 1400px) { 

}

