.abc{
    border:solid 3px black;
    margin-left: 30px;
    margin-top: 50px;
    width: 400px; 
    height: 400px;
}
.abd{
   position: absolute; 
    width: 70px; 
    height: 70px; 
    color: blue;
    background-color: blue;
}