*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img{
    display: block;
    max-width:100%;
    margin: auto;  
}

section{
    height: 100vh;
}

section .contain{
    background-color: #F2EDE9;
    border: solid 10px #2F3240;
}

section .contain .title .name{
    text-indent: 25px;
}

section .contain .title .name #my-name{
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 5px;
}

section .contain .title .name #intern{
    font-weight: 400;
    font-size: 16px;
    color:gray;
    padding-bottom: 20px;
}

section .contain .title .contact{
    display: flex;
    background-color: #BFBFBF;
    padding: 8px 0px;
}

section .contain .title .contact .gmail{
    margin-left: 55px;
}

section .contain .title .contact .phone, 
section .contain .title .contact .location,
section .contain .title .contact .street,
section .contain .title .contact .github
{
    margin-left: 50px;
}

section .contain .main{
    display: flex;
    margin-top: 20px;
}

section .contain .main .left{
    flex-basis: 50%;
    padding:0px 50px;

}

section .contain .main .left .introduce p,
section .contain .main .left .exp,
section .contain .main .left .skill,
section .contain .main .left .education{
    font-weight: 500;
}

section .contain .main .left .introduce-1 p{
    text-indent: 20px;  
}

section .contain .main .left .exp,
section .contain .main .left .skill,
section .contain .main .left .education{
    margin-top: 20px;
}

section .contain .main .left #date{
    color: gray;
}

section .contain .main .left .job-1,
section .contain .main .left .job-2{
    padding: 10px 0px 0px 5px;
}

section .contain .main .left .skills{
    display: flex;
    flex-direction: column;
    width: 90px;
    margin-left: 20px;
}

section .contain .main .left .skills span{
    margin-top: 10px;
    background-color: #D95970;
    text-align: center;
}

section .contain .main .left .education-1{
    text-indent: 20px;
}

section .contain .main .right{
    flex-basis: 50%;
    border-left: solid 1px black;
}




