body {
    font-family: 'Roboto', sans-serif;
    background-color: #D9CBC7;
}

h1 {
    text-align: center;
}

.image {
    display: flex;
    justify-content: center;
}

img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

p {
    text-indent: 16px;
}