body {
    background-color: #181818;
}

.navbar {
    background-color: rgba(33, 33, 33, 0.98);
    height: 56px;
    padding: 0px 16px 0px 16px;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 2;
}

.menuButton {
    position: absolute;
    left: 16px;
}

.logoYT {
    position: absolute;
    left: 60px;
    top: 1px;
}

.search {
    position: absolute;
    left: 336px;
}

.searchButton {
    position: absolute;
    left: 906px;
}

.iconButton {
    position: absolute;
    left: 1124px;
}

.avatar {
    position: absolute;
    left: 1287px;
}

.avatarIcon {
    border-radius: 50%;
}

.sidebar {
    color: white;
    font-weight: 400;
}

.sidebar-menu {
    padding-top: 73px;
}

.homePage {
    text-indent: 72px;
    margin-bottom: 21px;
}

.library {
    text-indent: 72px;
    padding-top: 23px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 17px;
}

.registration {
    padding-top: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.registration1,
.service1 {
    text-indent: 23px;
    color: rgb(170, 170, 170);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

.registration2,
.service2 {
    text-indent: 72px;
}

.service {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 14px;
}

.text {
    color: rgb(170, 170, 170);
    font-size: 13px;
    font-weight: 500;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px 24px 0px 24px;
}

.text1 {
    color: rgb(170, 170, 170);
    font-size: 13px;
    font-weight: 500;
    padding: 12px 24px 0px 24px;
}

.setting-menu {
    text-indent: 72px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 16px;
    padding-top: 16px;
}

.copy {
    color: rgb(113, 113, 113);
    font-size: 13px;
    padding: 16px 24px 16px 24px;
}

.suggest {
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-top: 88px;
    text-indent: 246px;
    margin-left: 24px;
}

.container-video {
    margin-left: 252px;
    margin-top: 16px;
    color: white;
    font-family: Roboto, Arial, sans-serif;
}

.dot::after {
    content: "•";
    margin-left: 4px;
}

.col-sm-3 {
    padding: 0px 8px 40px 8px;
}

#img {
    border-radius: 50%;
    margin-top: 12px;
    margin-right: 12px;
}

#meta {
    padding-right: 24px;
    overflow: hidden;
}

h3 {
    font-size: 14px;
    font-weight: 550;
    padding-top: 14px;
    overflow: hidden;
}

#channel {
    margin: 0px;
}

.channel {
    font-size: 14px;
    color: #AAAAAA;
}

.outer-flex {
    display: flex;
}