body {
    background-color: #181818;
}

.navbar {
    background-color: rgba(33, 33, 33, 0.98);
    height: 56px;
    padding: 0px 16px 0px 16px;
    position: relative;
}

.menuButton {
    position: absolute;
    left: 16px;
}

.logoYT {
    position: absolute;
    left: 60px;
    top: 1px;
}

.search {
    position: absolute;
    left: 336px;
}

.searchButton {
    position: absolute;
    left: 906px;
}

.iconButton {
    position: absolute;
    left: 1124px;
}

.avatar {
    position: absolute;
    left: 1287px;
}

.avatarIcon {
    border-radius: 50%;
}

.sidebar {
    color: white;
    font-weight: 400;
    text-indent: 72px;
}

.sidebar-menu {
    padding-top: 73px;
}

.registration {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.liked {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.title {
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-top: 36px;
    text-indent: 240px;
    margin-left: 24px;
}

.container-video {
    margin-left: 248px;
    margin-top: 16px;
    color: white;
}

.col-md-3 {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 40px;
}