*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img{
    display: block;
    max-width:100%;
    margin: auto;  
}

.introduce{
    background-image: url(https://static.wixstatic.com/media/0b918a_fab9aa52690f4b1c96eb27d3e2893049~mv2.jpg/v1/fill/w_1924,h_1334,al_c,q_90/0b918a_fab9aa52690f4b1c96eb27d3e2893049~mv2.webp);
    height: 100vh;
}

.introduce .navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #000;
}

.introduce .navbar img{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border: solid;
    border-radius: 50%;
    margin: 20px 0px 20px;
}

.introduce .navbar .name{
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}
