*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar { 
    display: none; 
}

img{
    display: block;
    max-width:100%;
    margin: auto;  
}

.introduce{
    background-image: url(https://www.kensington.com/siteassets/blog/2019/11-november/how-and-why-to-lock-a-macbook-pro-pic-2.jpg?width=1000&height=667);
    height: 100vh;
    background-repeat: no-repeat;  
    background-size: 100% 100%; 
    margin-left: 273px;
}

.introduce .text{
    color: white;
    text-align: center;
    font-size: 12vh;
    font-weight: 100;
    letter-spacing: 12px;
    padding-top: 40px;
}

.introduce .navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #000;
}

.introduce .image,
.introduce .name{
  display: flex;
  justify-content: center;
}

.introduce .image img{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    margin: 25px 0px 30px;
}

.introduce .name{
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}

.introduce .navbar .menu{
    margin: 48px 26px 0px;
}

.introduce .navbar .menu .icon{
    padding: 22px 12px 10px 9px;
    position: relative;
}

.introduce .navbar .menu .icon::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: all 0.5s ease-in;
}

.introduce .navbar .menu .icon:hover:after {
    width: 100%;
}

.introduce .navbar .menu .icon i{
    color: #999;
    width: 200px;
    font-size: 20px;
}

.introduce .navbar .menu .icon a{
    color: #999;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    margin-left: 10px;
}

.introduce .navbar .menu .icon i:hover{
    color: white;
    transition: all 1s;
}

.introduce .navbar .menu .icon a:hover{
    color: white;
    transition: all 1s;
}

.introduce .navbar .icon-bottom{
    display: flex;
    flex-direction: column;
}

.introduce .navbar .icon-bottom .icon-top,
.introduce .navbar .icon-bottom .icon-bot{
    display: flex;
    justify-content: center;
}

.introduce .navbar .icon-bottom .icon-top i{
    margin: 60px 20px 0px;
}

.introduce .navbar .icon-bottom .icon-bot i{
    margin: 20px 18px 0px;
}

.introduce .navbar .icon-bottom i{
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.about, .skill, .experience, .project, .contact{
    background-color: #101010;
    margin-left: 273px;
}

.about .contain, .skill .contain-skill,
.experience .contain-exp, .project .contain-project .title-project,
.contact .contain-contact{
    width: 1020px;
    margin: auto;
}

.about .contain .title-about,
.skill .contain-skill .title-skill,
.experience .contain-exp .title-exp,
.project .contain-project .title-project,
.contact .contain-contact .title-contact{
    position: relative;
    padding-top: 100px;
}

.about .contain .title-about span,
.skill .contain-skill .title-skill span,
.experience .contain-exp .title-exp span,
.project .contain-project .title-project span,
.contact .contain-contact .title-contact span{
    color: #999;
    font-size: 12px;
    letter-spacing: 1px;
    padding-left: 80px;
}

.about .contain .title-about span:before,
.skill .contain-skill .title-skill span:before,
.experience .contain-exp .title-exp span:before,
.project .contain-project .title-project span:before,
.contact .contain-contact .title-contact span:before{
   content: "";
   background-color: #333;
   height: 1px;
   width: 50px;
   left: 0px;
   top: 110px;
   position: absolute;
}

.about .contain .title-about span:after,
.skill .contain-skill .title-skill span:after,
.experience .contain-exp .title-exp span:after,
.project .contain-project .title-project span:after,
.contact .contain-contact .title-contact span:after{
    content: "";
    position: absolute;
    left: 0;
    height: 5px;
    width: 5px;
    background: #333;
    top: 108px;
    border-radius: 50%;
}

.about .contain .title-about h2,
.skill .contain-skill .title-skill h2,
.experience .contain-exp .title-exp h2,
.project .contain-project .title-project h2,
.contact .contain-contact .title-contact h2{
    color: white;
    font-size: 30px;
    margin: 20px 0px 30px;
    font-weight: 100;
}

.about .contain .main-about{
    display: flex;
}

.about .contain .main-about .image-about,
.about .contain .main-about .semi-about{
    flex-basis: 50%;
}

.about .contain .main-about .image-about img{
    height: 500px;
    width: 400px;
    object-fit: cover;
}

.about .contain .main-about .semi-about .semi-1{
    margin-bottom: 54px;
}

.about .contain .main-about .semi-about .semi-1 #hi{
    font-size: 32px;
    letter-spacing: 2px;
    color: white;
    margin:20px 0px 48px;
}

.about .contain .main-about .semi-about .semi-1 #text{
    color: #9a9696;
}

.about .contain .main-about .semi-about .semi-2{
    display: flex;
    color: #9a9696;
}

.about .contain .main-about .semi-about .semi-2 p{
    padding-bottom: 28px;
}

.about .contain .main-about .semi-about .semi-2 .semi-right{
    padding-left: 56px;
}

.skill .contain-skill .main-skill{
    display: flex;
    color: #9a9696;
}

.skill .contain-skill .main-skill .left-skill{
    padding-right: 40px;
}

.skill .contain-skill .main-skill .left-skill,
.skill .contain-skill .main-skill .right-skill{
    flex-basis: 50%;
}

.skill .contain-skill .main-skill .right-skill p{
    padding-bottom: 10px;
    border-bottom: solid 3px #fff;
    position: relative;
}

.skill .contain-skill .main-skill .right-skill p::before {
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 20%;
    height: 3px;
    background-color: #9a9696;
}

.skill .contain-skill .main-skill .right-skill #code{
    padding-top: 25px;
}

.project .contain-project .title-project h2{
    color: white;
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0px 30px 0px;   
}

.experience .contain-exp .main-exp{
    color: white;
}

.experience .contain-exp .main-exp #name{
    color: #9a9696;
    padding-top: 4px; 
}

.experience .contain-exp .main-exp .exp-1{
    margin-bottom: 35px;
}

.experience .exp-1 div,
.experience .exp-2 div{
    text-indent: 25px;
    margin-top: 6px;
}

.experience .exp-1 div p,
.experience .exp-2 div p{
    padding-top: 3px;
}

.project .main-project{
    display: flex;
    flex-direction: column;
}

.project .row-project1,
.project .row-project2{
    display: flex;
    margin: auto;
}

.project .image-project{
    position: relative;
    height: 460px;
    margin: 0px 15px 29px;
}

.project .image-project img{
    height: 460px;
    width: 325px;
    object-fit: cover;
    filter: brightness(80%);
}

.project .icon-image i{
    font-size: 40px;
    color: white;
    position: absolute;
    left: 27px;
    top: 12px;
}

.project .text-project{
    position: absolute;
    left: 0px;
    bottom: 0px;
    color:#fff;
}







