footer.footer
    .container.footer-main
        .row.footer--padding 
            .col-4
                .footer__main
                    h1 THÔNG TIN LIÊN HỆ
                    ul 
                        li Địa chỉ: 123 Nguyễn An Ninh, Tương Mai, Hoàng Mai, Hà Nội.
                        li Phone: (012) 800 000 789
                        li Fax: (012) 800 888 789
                        li Email: mhoang0304@gmail.com  
            .col-4
                .footer__main
                    h1 CỬA HÀNG
                    ul 
                        li Store 1: 38 Hàm Long, Hoàn Kiếm, Hà Nội.
                        li Store 2: 9 B7 Phạm Ngọc Thạch, Đống Đa, Hà Nội.
                        li Store 3: 173A Kim Mã, Ba Đình, Hà Nội.
            .col-4
                .footer__main
                    h1 INSTAGRAM
                        p Ghé thăm trang Instagram để cùng chia sẻ chiếc đồng hồ của bạn
    .container.footer-sub