footer.footer
    .container
        .row 
            .col-12.col-sm-6.col-md-4
                .footer__content
                    h1.footer__content-title THÔNG TIN LIÊN HỆ
                    ul.footer__content-menu
                        li.footer__content-menu-item Địa chỉ: 123 Nguyễn An Ninh, Tương Mai, Hoàng Mai, Hà Nội.
                        li.footer__content-menu-item Phone: (012) 800 000 789
                        li.footer__content-menu-item Fax: (012) 800 888 789
                        li Email: mhoang0304@gmail.com  
            .col-12.col-sm-6.col-md-4
                .footer__content
                    h1.footer__content-title CỬA HÀNG
                    ul.footer__content-menu 
                        li.footer__content-menu-item Store 2: 9 B7 Phạm Ngọc Thạch, Đống Đa, Hà Nội.
                        li.footer__content-menu-item Store 3: 173A Kim Mã, Ba Đình, Hà Nội.
                        li Store 1: 38 Hàm Long, Hoàn Kiếm, Hà Nội.
            .col-12.col-md-4
                .footer__content
                    h1.footer__content-title INSTAGRAM
                    p.footer__content-sub Ghé thăm trang Instagram để cùng chia sẻ khoảnh khắc của bạn.
                .d-flex.justify-content-between.footer__feed
                    .footer__feedback
                        img(src="./img/footer-1.jpg" alt="feedback").footer__feedback-img
                        i.fab.fa-instagram.footer__feedback-icon
                    .footer__feedback
                        img(src="./img/footer-2.jpg" alt="feedback").footer__feedback-img
                        i.fab.fa-instagram.footer__feedback-icon
                    .footer__feedback
                        img(src="./img/footer-3.jpg" alt="feedback").footer__feedback-img
                        i.fab.fa-instagram.footer__feedback-icon
                    .footer__feedback
                        img(src="./img/footer-4.jpg" alt="feedback").footer__feedback-img
                        i.fab.fa-instagram.footer__feedback-icon

        .row.footer-sub
            .col-6.d-flex.align-items-center
                .footer-sub__copyright Frequency © 2021
            .col-6.d-flex.align-items-center.justify-content-end
                .footer-sub__social
                    a(href="#").footer-sub__social-link  
                        i.fab.fa-facebook-f
                    a(href="#").footer-sub__social-link 
                        i.fab.fa-youtube
                    a(href="#").footer-sub__social-link 
                        i.fab.fa-twitter 

    .ins
        .ins__overlay
        .ins__main
            .ins__main-img
                img(src="./img/footer-img1.jpg" alt="instagram")
            .ins__main-comment
                .ins__main-header
                    img.ins__main-header-avatar(src="./img/avatar.jpg" alt="avatar")
                    span.ins__main-header-name mhoang0304
                .ins__main-body
                    p Có bao giờ các bạn tự đặt câu hỏi tại sao cha mẹ có thể thức khuya dậy sớm như vậy không? Lớn lên tôi mới biết đánh thức cha mẹ không phải tiếng gà cục tác hay là đồng hồ báo thức, mà là gánh nặng, cuộc sống là trách nhiệm...