
nav.nav
    .nav__logo Frequency
    ul.nav__menu
        li
            a(href="../index.html") TRANG CHỦ
        li
            a(href="#") ĐỒNG HỒ
        li
            a(href="#") ABOUT US
        li
            a(href="#") BLOG
        li
            a(href="#") LIÊN HỆ
    .nav__button
