:root {
    --white-color: #ffffff;
    --title-color: #3E4C5B;
    --content-color: #9AA8B6;
    --link-color: #23CF5F;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(354.72deg, rgba(255, 255, 255, 0.0001) -231.62%, rgba(24, 151, 196, 0.0001) 56.67%, rgba(13, 146, 193, 0.947412) 100.9%, #008CBE 100.9%);
}

/* Carousel */
.carousel {
    height: 1080px;
}

.carousel__img {
    opacity: 0;
    visibility: hidden;
}

.carousel__img:nth-child(2) {
    transform: translateY(-100%);
}

.carousel__img:nth-child(3) {
    transform: translateY(-200%);
}

.carousel__img.active {
    opacity: 1;
    visibility: visible;
}

.carousel__img.move-out {
    animation: move-out linear 1s;
}

@-webkit-keyframes move-out {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
    }
}

.carousel__img.move-in {
    animation: move-in linear 1s;
}

@-webkit-keyframes move-in {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
    }
}

.status {
    position: absolute;
    top: 90%;
    right: calc(50% - 28px);
}

.status__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.status__items {
    width: 12px;
    height: 12px;
    background-color: var(--white-color);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}

.status__items:nth-child(2) {
    margin: 0 10px;
}

.status__items.light {
    background-color: var(--link-color);
    box-shadow: 0 0 0 4px rgba(35, 207, 95, 0.4);
}
/* End Carousel */

/* Navigation */
.nav {
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
    display: flex;
    max-width: 100%;
}

.nav__logo {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: var(--white-color);
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    font-weight: bold;
}

.nav__logo-icon {
    margin-right: 10px;
}

.nav__list {
    position: absolute;
    top: 10px;
    left: calc(50% - 227px);
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 17px;
}

.nav__items:hover a{
    color: var(--link-color);
    transition: 0.2s;
}

.nav__items:nth-child(1),
.nav__items:nth-child(3),
.nav__items:nth-child(2),
.nav__items:nth-child(4),
.nav__items:nth-child(5) {
    margin-right: 20px;
}

.nav__list a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--white-color);
}

.nav__icon {
    position: absolute;
    top: 8px;
    right: 37px;
}

.nav__icon-search {
    display: none;
    cursor: pointer;
}

.nav__icon-material {
    margin-right: 2px;
    cursor: pointer;
}
/* Navigation For Mobile */
.nav__mobile-btn {
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 20px;
    color: var(--white-color);
    border: solid 3px white;
    border-radius: 3px;
    padding: 1px 5px 0px;
    cursor: pointer;
    display: block;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.2s;
    display: none;
    z-index: 9;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav__mobile {
    min-width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--white-color);
    transform: translateX(-100%);
    transition: 0.4s;
    z-index: 10;
}

.nav__mobile-main {
    padding: 8px 10px 30px 30px;
}

.nav__mobile-close {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding-bottom: 15px;
}

.nav__mobile-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__mobile-items {
    padding: 10px 0;
}

.nav__mobile-items a{
    text-decoration: none;
    color: var(--title-color);
    font-weight: 500;
    font-size: 1.6rem;
    transition: 0.4s;
}

.nav__mobile-items:hover a {
    color: var(--link-color);
}

.nav__mobile-search {
    min-width: 220px;
    display: flex;
    padding-bottom: 25px;
}

.nav__mobile-input {
    outline: none;
    color: black;
    border: none;
    background-color: #f2f2f2;
    width: 100%;
    font-weight: 500;
    height: 30px;
    font-size: 1.1rem;
    padding: 5px 0px 5px 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.nav__mobile-search i{
    font-size: 2.2rem;
    margin-right: 20px;
    color: var(--white-color);
    padding: 4px;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--link-color);
}

.nav__mobile-social {
    position: absolute;
    width: 100%;
    bottom: 0;
    list-style: none;
    margin:0;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

.nav__mobile-social--icon i{
    font-size: 2.2rem;
    color: #ffffff;
    transition: 0.2s;
}

.nav__mobile-social--icon:hover i{
    color: var(--link-color);
}

.fa-twitter {
    margin: 0 43px 0 56px;
}

.fa-wifi {
    transform: rotate(45deg);
}

/* End Navigation */

.title {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 115px);
}

.title__welcome {
    position: relative;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 500;
}

.title__welcome::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--white-color);
}

.title__main {
    color: var(--white-color);
    font-weight: bold;
    font-size: 2rem;
    margin: 6px 0 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.title__detail a {
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

.title__detail {
    margin: 0;
}

.title__detail-img {
    padding-right: 8px;
    width: 30px;
}

.social {
    position: absolute;
    z-index: 4;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}
/* Button Donate */

.donate {
    position: absolute;
    z-index: 5;
    height: 120px;
    display: none;
    bottom: 80px;
    left: calc(50% - 754.5px);
    background-color: var(--white-color);
    border-radius: 3px;
    padding-left: 97.5px;
}

.donate__title {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--title-color);
    margin-top: 37px;
    line-height: 44px;
}

.donate__amount {
    margin-left: 96.5px;
    padding: 20px 104px 0 115px;
    border-left: 2px solid #DFE4E8;
    border-right: 2px solid #DFE4E8;
}

.donate__amount-btn {
    border: none;
    outline: none;
    padding: 0;
    background-color: var(--white-color);
}

.donate__amount-btn span {
    cursor: pointer;
    color: var(--content-color);
    font-size: 1.4rem;
    line-height: 31px;
    margin-right: 11px;
}

.donate__amount-money {
    line-height: 31px;
    color: var(--title-color);
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 7px;
    padding-right: 18px;
}

.donate__period {
    padding: 21px 152px 0 135px;
}

.donate__period-btn {
    border: none;
    outline: none;
    background-color: var(--white-color);
}

.donate__period-btn span {
    color: var(--content-color);
    font-size: 1.4rem;
    line-height: 31px;
    margin: 0 9px 0 0;
}

.donate__period-month {
    font-size: 2.2rem;
    line-height: 31px;
    font-weight: 500;
    color: var(--title-color);
    margin-top: 4px;
}

.donate__btn {
    padding: 10px 10px 10px 0;
}

.donate__button {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 26.82px;
    color: var(--white-color);
    background-color: var(--link-color);
    min-height: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0;
}

.donate__button span {
    padding: 0 29px;
    margin: 37px 72px 36px;
}
/* End Button Donate */

.main {
    padding: 0 15px;
    margin: auto;
}

.main-donate {
    background-color: #101010e3;
    padding: 10px 10px;
}

.donate__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45px 45px 45px;
    background-color: #fff;
}

.donate__main-title,
.donate__main-amount,
.donate__main-period,
.donate__main-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate__main-title {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--title-color);
    grid-column: 1/ span 2;
}

.donate__main-amount {
    flex-direction: column;
}

.donate__main-btn {
    border: none;
    outline: none;
    padding: 0;
    background-color: var(--white-color);
}

.donate__main-btn span {
    font-weight: normal;
    font-size: 1rem;
    padding-right: 9px;
    color: var(--content-color);
}

.donate__main-total {
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--title-color);
}

.donate__main-period {
    flex-direction: column;
}

.donate__main-button {
    grid-column: 1/ span 2;
}

.donate__main-button--send {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 27px;
    color: var(--white-color);
    border: none;
    outline: none;
    background-color: var(--link-color);
    border-radius: 4px;
    padding: 8px 30px;
}

.post {
    display: grid;
    grid-template-columns: 100%;
    padding-top: 60px;
}

.post__img {
    display: flex;
    justify-content: center;
}

.post__content-project {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 17px;
    color: var(--title-color);
    margin: 21px 0 56px;
}

.post__content-title {
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    font-size: 2.2rem;
    color: var(--title-color);
}

.post__content-main {
    font-size: 2.2rem;
    line-height: 34px;
    font-weight: 500;
    color: var(--content-color);
    margin: 42px 0 37px 4px;
}

.post__content-link {
    display: flex;
    align-items: center;
}

.post__content-link a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--link-color);
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    margin: 0 36px 0 4px;
}

.post-second {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "first"
    "second";
}

.post-second__content {
    grid-area: "second";
}

.post-second__content-program {
    text-transform: uppercase;
    margin: 21px 0 56px 3px;
    color: var(--title-color);
    font-size: 1.4rem;
    line-height: 17px;
    font-weight: bold;
}

.post-second__content-title {
    text-transform: uppercase;
    margin: 0;
    color: var(--title-color);
    font-size: 2.2rem;
    font-weight: bold;
}

.post-second__content-main {
    color: var(--content-color);
    margin: 42px 0 37px 4px;
    font-weight: 500;
    line-height: 34px;
    font-size: 2.2rem;
}

.post-second__content-link {
    display: flex;
    align-items: center;
}

.post-second__content-link a{
    text-decoration: none;
    color: var(--link-color);
    margin: 0 37px 0 4px;
    line-height: 17px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.post-second__img {
    display: flex;
    justify-content: center;
    grid-area: first;
}

.data {
    display: grid;      
    grid-template-columns: 1fr;
    gap: 25px;
    padding-top: 60px;
}

.data__card {
    max-width: 470px;
}

.data__card-title {
    font-weight: bold;
    color: var(--title-color);
    font-size: 3rem;
    margin: 0;
}

.data__card-content {
    font-weight: 500;
    color: var(--content-color);
    font-size: 2.2rem;
    line-height: 34px;
    margin: 42px 0 30px;
}

.data__detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.data__detail-number:nth-child(1) {
    grid-column: 1/ span 2;
}

.data__detail-number {
    text-align: center;
}

.data__detail-number--title {
    color: var(--link-color);
    font-weight: 300;
    font-size: 8rem;
    line-height: 98px;
    text-transform: uppercase;
    margin: 0 0 6px;
}

.data__detail-number--content {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--title-color);
    margin: 0;
}

.data__saved {
    margin: 40px 5px 0;
    border-radius: 4px;
    border: solid 4px var(--link-color);
}

.data__saved-detail {
    font-weight: 300;
    font-size: 5rem;
    line-height: 98px;
    color: var(--link-color);
    margin: 50px 0 8px;
    text-align: center;
}

.data__saved-content {
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 27px;
    text-transform: uppercase;
    color: var(--title-color);
    margin: 0 0 40px;
    text-align: center;
}

.slide {
    margin-top: 100px;
}

.slide__post {
    display: grid !important;
    grid-template-columns: 1fr;
    gap: 18px;
}

.slide__post-img {
    display: flex;
    justify-content: center;
}

.slide__post-program {
    color: var(--title-color);
    margin: 0 0 0 2px;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 17px;
}

.slide__post-title {
    color: var(--title-color);
    margin: 20px 0;
    font-weight: bold;
    font-size: 3rem;
}

.slide__post-content {
    color: var(--content-color);
    margin: 0;
    font-weight: 500;
    font-size: 2rem;
    line-height: 34px;
}

.slick-dots {
    list-style: none;
    margin: 84px 0 0 0;
    display: flex;
    justify-content: center;
    padding: 0;
}

.slick-dots button {
    text-indent: -99999px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 0 14px;
    background-color: #DFE4E8;
}

.slick-active button {
    background-color: var(--link-color);
}

.news-title {
    margin: 163px 0 65px;
    color: var(--title-color);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

.news {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.news__post-info {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 17px;
    margin: 0;
    color: var(--title-color);
}

.news__post-title {
    font-weight: bold;
    font-size: 2.6rem;
    color: var(--title-color);
    margin: 56px 0 26px;
}

.news__post-date {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 17px;
    color: var(--content-color);
    margin: 0 0 34px;
}

.news__post-img {
    margin-bottom: 54px;
    display: flex;
    justify-content: center;
}

.news__post-content {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 34px;
    color: var(--content-color);
    margin: 0 0 2px;
    padding-bottom: 54px;
}

.news__post-link {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--link-color);
    text-decoration: none;
}

.news__button {
    display: flex;
    justify-content: center;
}

.news__button button {
    padding: 0;
    margin: 0;
    color: var(--white-color);
    background-color: var(--link-color);
    border: none;
    outline: none;
    padding: 20px 26px 20px 26px;
    font-size: 1.4rem;
    line-height: 17px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 100px;
    cursor: pointer;
}

.contact {
    padding-top: 288px;
}

.contact__title {
    text-align: center;
    color: var(--title-color);
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 38px;
    margin: 0;
}

.contact__title.color {
    color: var(--link-color);
    font-weight: bold;
}

.contact__input {
    margin-top: 79px;
    max-width: 710px;
    margin: 79px auto 0;
    display: flex;
    background-color: #F9FCFF;
}

.contact__input-main {
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    padding: 0;
    background-color: #F9FCFF;
    padding: 10px 0 14px;
    font-size: 1.4rem;
    line-height: 21px;
    color: black;
    font-weight: 500;
}

.contact__input-btn {
    font-weight: normal;
    color: var(--white-color);
    background-color: var(--link-color);
    padding: 0 18px 0 18px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 360px 0 71px;
}

.footer__create {
    color: #61788E;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 40px;
    text-align: center;
}

.footer__create-version {
    font-weight: 500;
    color: var(--content-color);
}

.footer__info {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__link {
    display: inline-block;
}

.footer__link:hover i {
    color: var(--title-color);
}

.footer__link:nth-child(2) {
    margin: 0 20px 0;
}

.footer__link i {
    display: inline-block;
    color: var(--content-color);
    font-size: 1.8rem;
}

/* width >= 576px */
@media (min-width: 36em) {
    .main {
        max-width: 540px;
        padding: 0;
    }

    .nav {
        top: 20px;
        left: 25px;
        right: 25px;
    }

    .nav__icon {
        top: 10px;
        right: 50px;
    }

    .nav__mobile {
        min-width: 300px;
    }

    .nav__mobile-btn {
        top: 0;
        right: 0;
        font-size: 30px;
    }

    .title {
        top: 90px;
        left: calc(50% - 178px);
    }

    .title__welcome {
        font-size: 1.8rem;
        line-height: 27px;
    }

    .title__welcome::after {
        bottom: -7px;
    }
      
    .title__main {
        font-size: 3rem;
        margin: 19px 0 10px;
    }

    .title__detail a {
        font-size: 1.8rem;
    }

    .title__detail-img {
        width: auto;
        padding-right: 16.5px;
    }

    .donate__main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80px 80px;
    }

    .donate__main-title {
        grid-column: 1 / span 3;
        line-height: 44px;
        font-size: 2.2rem;
    }

    .donate__main-amount {
        border-left: 2px solid #DFE4E8;
        border-right: 2px solid #DFE4E8;
    }

    .donate__main-btn span {
        font-size: 1.4rem;
        line-height: 31px;
        padding-right: 9px;
    }

    .donate__main-button--send {
        font-size: 2.2rem;
        line-height: 27px;
        padding: 21px 50px;
    }

    .donate__main-total {
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 31px;
    }

    .donate__main-button {
        grid-column: unset;
    }

    .data__detail {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 35px;
    }

    .data__detail-number:nth-child(1) {
        grid-column: 1;
    }
    
    .data__detail-number {
        text-align: left;
    }

    .data__card-title {
        font-size: 5rem;
        line-height: 61px;
    }

    .news-title {
        margin: 80px 0 65px;
        font-size: 4rem;
        line-height: 61px;
    }

    .contact__input-btn {
        padding: 7px 47px 7px 49px;
        font-size: 1.4rem;
        line-height: 51px;
    }

    .contact__input-main {
        line-height: 51px;
    }
}

/* width >= 768px */
@media (min-width: 48em) {
    .main {
        max-width: 720px;
    }

    .title {
        top: 90px;
        left: calc(50% - 288px);
    }

    .title__welcome {
        font-size: 2.2rem;
    }
    
    .title__main {
        font-size: 5rem;
        margin: 54px 0 33.5px;
    }

    .title__detail a {
        font-size: 2.2rem;
    }

    .post {
        grid-template-columns: 1fr;
    }

    .post__content-title {
        line-height: 61px;
        font-size: 5rem;
    }

    .post-second {
        grid-template-columns: 1fr;
    }

    .post-second__content-title {
        font-size: 5rem;
        line-height: 61px;
    }

    .news {
        grid-template-columns: 1fr 1fr;
        gap: 80px;
    }

    .news__post-title {
        padding-right: 21px;
    }

    .news__button button {
        padding: 29px 31px 29px 34px;
        margin-top: 131px;
    }
}

/* width >= 992px */
@media (min-width: 62em) {
    .main {
        max-width: 960px;
    }

    .nav__icon {
        top: 10px;
        right: 2px;
    }

    .nav__logo-icon {
        margin-right: 20px;
    }

    .nav__icon-search {
        display: inline-block;
        margin-right: 30px;
    }

    .nav__list {
        display: flex;
    }

    .nav__mobile-btn {
        display: none;
    }

    .title {
        top: 135px;
        left: calc(50% - 460.5px);
    }

    .title__main {
        font-size: 8rem;
    }

    .social {
        display: flex;
        left: 25px;
        bottom: 20px;
    }

    .social__icon:nth-child(2) {
        margin: 0 18px;
    }

    .donate__main {
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-template-rows: 80px;
        border-radius: 3px;
    }

    .donate__main-title {
        grid-column: unset;
    }

    .post {
        grid-template-columns: 1fr 1fr;
        gap: 100px;
    }

    .post-second {
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        grid-template-areas: 
        "second first";
    }
     
    .data {
        grid-template-columns: 1fr 370px;
        gap: 25px;
        padding-top: 160px;
    }

    .data__saved-content {
        padding-left: 78px;
        line-height: 27px;
        text-align: left;
        margin: 0;
    }

    .data__saved-detail {
        font-size: 8rem;
        margin: 101px 0 8px;
    }

    .data__saved {
        margin: 122px 0 0;
    }

    .slide__post-content {  
        margin: 0;
        font-size: 2.2rem;
        padding: 0 51px 0 2px;
    }

    .news {
        grid-template-columns: 1fr 1fr;
        gap: 100px;
    }

    .news__post-title {
        font-size: 3rem;
        margin: 56px 0 26px;
    }

    .news__post-content {
        font-size: 1.6rem;
        padding-bottom: 40px;
    }

    .news__post-title {
        padding-right: 0;
    }

    .news-title {
        margin: 163px 0 65px;
        font-size: 5rem;
        line-height: 61px;
    }

    .footer {
        padding: 0 100px;
        flex-direction: row;
        justify-content: space-between;
        margin: 360px 0 71px;
    }

    .footer__create {
        margin: 0;
    }

    .footer__link:nth-child(2) {
        margin: 0 37.5px 0 44px;
    }
}

/* width: >= 1200px  */
@media (min-width: 75em) {
    .main {
        max-width: 1140px;
    }

    .nav {
        top: 38px;
        left: 50px;
        right: 50px;
    }

    .nav__list {
        left: calc(50% - 286px);
    }

    .nav__items:nth-child(1),
    .nav__items:nth-child(3) {
        margin-right: 43px;
    }

    .nav__items:nth-child(2),
    .nav__items:nth-child(4),
    .nav__items:nth-child(5) {
        margin-right: 44px;
    }

    .title {
        top: 200px;
        left: 164px;
    }

    .status {
        top: 325px;
        right: 30px;
    }

    .status__list {
        display: inline-block;
    }

    .status__items:nth-child(1) {
        margin-bottom: 24px;
    }
    
    .status__items:nth-child(2) {
        margin: 0 0 28px 0;
    }

    .post {
        grid-template-columns: 1fr 1fr;
        gap: 192px;
        padding-top: 167px;
    }

    .post-second {
        grid-template-columns: 1fr auto;
        gap: 230px;
        padding-top: 160px;
    }

    .slide__post {
        display: grid !important;
        grid-template-columns: auto 1fr;
        gap: 100px;
    }

    .slide__post-title {
        margin: 56px 0;
        font-size: 5rem;
        line-height: 61px;
    }

    .slide {
        margin-top: 248px;
    }

    .news {
        grid-template-columns: 1fr 1fr;
        gap: 150px;
    }

    .news__post-title {
        font-size: 5rem;
        line-height: 51px;
        margin: 56px 0 26px;
    }

    .news__post-content {
        font-size: 2.2rem;
        line-height: 34px;
        margin: 0 0 2px;
        padding-bottom: 54px;
    }
}

/* width: >= 1400px  */
@media (min-width: 87.5em) {
    .main {
        max-width: 1170px;
    }

    .title {
        top: 333px;
        left: 257px;
    }

    .title__main {
        background-color: rgba(0, 0, 0, 0);
    }

    .status {
        top: 475px;
        right: 50px;
    }

    .social {
        flex-direction: column;
        align-items: center;
        bottom: 80px;
        left: 51px;
    }

    .social__icon:nth-child(2) {
        margin: 31.5px 0 33px;
    }

    .post {
        grid-template-columns: auto 1fr;
        gap: 192px;
    }

    .post-second {
        grid-template-columns: 1fr auto;
        gap: 230px;
    }

    .news {
        grid-template-columns: 1fr 1fr;
        gap: 222px;
    }

    .news-title {
        text-align: left;
    }
}

/* widtd: >= 1700px */
@media (min-width: 106.25em) {
    .donate {
        display: flex;
    }

    .main-donate {
        display: none;
    }
}


