    .navbar {
        background-color: #ed1c24;
        height: 80px;
        position: relative;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 3;
    }
    
    .productMenu {
        padding-top: 70px;
        text-indent: 100px;
    }
    
    .textHeading {
        border-top: 2px solid #d42333;
        text-align: center;
        font-size: 19px;
    }
    
    .logo1 {
        position: absolute;
        top: 10px;
        left: 80px;
    }
    
    .search {
        position: absolute;
        top: 23px;
        left: 285px;
    }
    
    .logo2 {
        position: absolute;
        border-radius: 50%;
        top: 23px;
        left: 780px;
    }
    
    .logo3 {
        position: absolute;
        left: 827px;
        top: 24px;
    }
    
    .logo4 {
        position: absolute;
        left: 940px;
        top: 23px;
    }
    
    .logo5 {
        position: absolute;
        left: 980px;
        top: 23px;
    }
    
    .textNavbar {
        position: absolute;
        left: 1120px;
        top: 23px;
    }
    
    .navbar p {
        margin: 0px;
        color: #ffffff;
    }
    
    .text {
        margin-left: 10px;
        color: #f44336;
        font-size: 29px;
        font-weight: 600;
    }
    
    .image {
        border: 1px solid white;
        float: left;
        width: 15%;
        border-radius: 2%;
        padding: 20px;
        margin: 11px;
        position: relative;
    }
    
    .meat1::after {
        content: "MEATDeli Thịt heo xay đặt biệt (S) (350g)";
    }
    
    .meat2::after {
        content: "MEATDeli Thịt lợn mát Heo xay loại 1 S (350g)";
    }
    
    .meat3::after {
        content: "MEATDeli Thịt lợn mát Ba rọi heo S (350g)";
    }
    
    .meat4::after {
        content: "MEATDeli Thịt heo ( cho món kho) (S) (350g)";
    }
    
    .meat5::after {
        content: "Thịt Ba chỉ bò cắt lát New Zealand KiaOra (475g)";
    }
    
    .image:hover {
        box-shadow: 0 0 10px 0 hsla(0, 0%, 60%, .6);
    }
    
    .menu1 {
        clear: both;
    }
    
    .menu1::after {
        content: "Vineco Nấm kim châm trắng ";
    }
    
    .menu2::after {
        content: "Vineco rau măng tây xanh";
    }
    
    .menu3::after {
        content: "Vineco nấm đùi gà";
    }
    
    .menu4::after {
        content: "Vineco giá đỗ";
    }
    
    .menu5::after {
        content: "Vineco dưa chuột baby";
    }
    
    .btn-top {
        border: 2px solid black;
        border-radius: 50%;
        background-color: rgb(153, 153, 153);
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
    
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7,
    .img8,
    .img9,
    .img10 {
        position: absolute;
        left: 25px;
        top: 20px;
        opacity: 0;
    }
    
    .img1:hover {
        transition: 0.1s ease-in-out;
        opacity: 1;
    }
    
    .img2:hover {
        transition: 0.1s ease-in-out;
        opacity: 1;
    }
    
    .img3:hover {
        transition: 0.1s ease-in-out;
        opacity: 1;
    }
    
    .img4:hover {
        transition: 0.1s ease-in-out;
        opacity: 1;
    }
    
    .img5:hover {
        transition: 0.1s ease-in-out;
        opacity: 1;
    }
    
    .img6:hover {
        transition: 0.1s ease-in-out;
        opacity: 1;
    }
    
    .img7:hover {
        transition: 0.1s ease-in-out;
        opacity: 1;
    }
    
    .img8:hover {
        transition: 0.1s ease-in-out;
        opacity: 1;
    }
    
    .img9:hover {
        transition: 0.1s ease-in-out;
        opacity: 1;
    }
    
    .img10:hover {
        transition: 0.1s ease-in-out;
        opacity: 1;
    }
    
    .meat4:hover.newtext {
        display: block;
    }